---
import Layout from '../layouts/Layout.astro';
import SkillLevel from '../components/SkillLevel.astro';
import { Image } from 'astro:assets';

const socials = [
  {
    name: "GitHub",
    url: "https://github.com/rowandevving",
    icon: "i-simple-icons-github"
  },
  {
    name: "Bluesky",
    url: "https://rowandev.bsky.social/",
    icon: "i-simple-icons-bluesky"
  },
  {
    name: "Youtube",
    url: "https://www.youtube.com/@rowandevving",
    icon: "i-simple-icons-youtube"
  },
  {
    name: "Modrinth",
    url: "https://modrinth.com/user/rowandev",
    icon: "i-simple-icons-modrinth"
  },

]

const people = [
  {
    name: "Catter",
    url: "https://github.com/catter1",
    src: "https://avatars.githubusercontent.com/u/63272345"
  },
  {
    name: "Blurryface",
    url: "https://blurry.gay",
    src: "https://avatars.githubusercontent.com/u/124838505"
  },
  {
    name: "Naomi",
    url: "https://naomieow.xyz",
    src: "https://codeberg.org/avatars/62cbdd8dccd084d4ceeda0f2e59540fd534c2daaa87458c70dab3cf8a7ac9600?size=512"
  },
  {
    name: "WorldWidePixel",
    url: "https://worldwidepixel.ca",
    src: "https://avatars.githubusercontent.com/u/58098422"
  },
  {
    name: "Sarc",
    url: "https://linktr.ee/sarcasmtree",
    src: "https://ugc.production.linktr.ee/0198808b-ddf5-4d2e-9c9d-fa7a8c998762_Untitled104-20240523100812.png?io=true&size=avatar-v1_0"
  },
  {
    name: "Devin",
    url: "https://intergrav.xyz",
    src: "https://avatars.githubusercontent.com/u/42325132"
  },
  {
    name: "Tera",
    url: "https://modrinth.com/user/TeraBuildsStuff",
    src: "https://avatars.githubusercontent.com/u/58230701"
  },
  {
    name: "Splatus",
    url: "https://modrinth.com/user/limesplatus",
    src: "https://cdn.modrinth.com/user/6gUWVwiH/3fe0c6b15dce11cc51850252a3791b01a892c25a.png"
  },
  {
    name: "CallMeEcho",
    url: "https://callmeecho.dev",
    src: "https://callmeecho.dev/_astro/pfp.WWYdYdRO_Wmqlk.webp"
  }
]
---

<Layout title="Home">
  <h1 class="text-5xl font-serif animate-in slide-in-l-5 fade-in-0 animate-duration-2000">Hi, I'm rowan.</h1>
  <p class="text-lg mt-8 mb-2 line-height-snug animate-in slide-in-l-5 fade-in-0 animate-duration-2000 animate-delay-500">
    I'm an aspiring full-stack developer interested in <strong>web design, education technology</strong> and <strong>robotics.</strong>
    I may also poke around with <strong>minecraft modding</strong> from time to time as well.
  </p>
  <p class="text-lg line-height-snug animate-in slide-in-l-5 fade-in-0 animate-duration-2000 animate-delay-1000">
    I'm based in the UK and have always been fascinated by how computers work, 
    and how technology can solve real problems that real people face, so I'm always trying to come up with new projects to work on.
  </p>
  <ul class="mt-8 flex flex-wrap gap-3">
    {socials.map((social, index) => (
      <li>
        <a href={social.url} aria-label={social.name} class={`flex text-xl p-2.5 rounded-full
         bg-light_0 dark:bg-dark_0 hover:bg-light_pink hover:text-light_base hover:dark:bg-dark_pink hover:dark:text-dark_base 
          transition-all duration-200 animate-in fade-in-0 slide-in-r-5 animate-duration-1000 animate-delay-${2000 + (index * 100)}`}>
          <div class={`${social.icon}`}/>
        </a>
      </li>
    ))}
  </ul>
  <div class="absolute top-100vh pb-15 w-full">
    <h2 class="text-4xl font-serif">
      My Skills
    </h2>
    <div class="mt-8 w-full text-light_base grid grid-cols-3 gap-4">
      <SkillLevel icon="i-simple-icons-go" level="40%">
        Go
      </SkillLevel>
      <SkillLevel icon="i-simple-icons-html5" level="100%">
        HTML
      </SkillLevel>
      <SkillLevel icon="i-simple-icons-javascript" level="93%">
        JavaScript
      </SkillLevel>
      <SkillLevel icon="i-simple-icons-css3" level="95%">
        CSS
      </SkillLevel>
      <SkillLevel icon="i-bxl-java" level="75%">
        Java
      </SkillLevel>
      <SkillLevel icon="i-simple-icons-kotlin" level="20%">
        Kotlin
      </SkillLevel>
      <SkillLevel icon="i-simple-icons-python" level="90%">
        Python
      </SkillLevel>
    </div>
    <h2 class="text-4xl font-serif mt-20">
      Cool people
    </h2>
    <div class="mt-6 flex flex-wrap gap-3">
      {people.map((person) => (
        <a href={person.url}>
          <div class="rounded-full h-20 w-20 ring-1.5 ring-light_1 dark:ring-dark_1 overflow-hidden">
            <Image src={person.src} alt={person.name} width="80" height="80"/>
          </div>
        </a>
      ))}
    </div>
  </div>
  
</Layout>